In [15]:
import sys
sys.path.append("..")
import foodcosts.core as core
import requests
import json
import calendar
import pandas as pd
from datetime import date

In [2]:
# fetch hours worked for a shop
# use the API formation.fthek.be/api/hours_worked with body
# {
#	"warehouse_id": 2,
#	"yyyy_mm_dd": "2023-03-15"
# }
def get_hours_worked_for_a_shop_for_a_day(warehouse_id, yyyy_mm_dd):
    url = "https://formation.fthek.be/api/hours_worked"
    body = {
        "warehouse_id": warehouse_id,
        "yyyy_mm_dd": yyyy_mm_dd
    }
    response = requests.get(url, json=body)
    print(response.status_code)
    if response.status_code == 200:
        return response.json()
    else:
        return None

def get_hours_worked_for_a_shop_for_a_month_per_employee(warehouse_id, yyyy_mm):
    url = "https://formation.fthek.be/api/hours_worked/month"
    body = {
        "warehouse_id": warehouse_id,
        "yyyy_mm": yyyy_mm
    }
    response = requests.get(url, json=body)
    print(response.status_code)
    if response.status_code == 200:
        return response.json()
    else:
        return None

In [3]:
# call the API for a shop and a day
# return the hours worked
answer = get_hours_worked_for_a_shop_for_a_day(core.get_shop_id('La Hulpe'), "2023-03-15")
print(answer)

config.ini file available... using that
200
[{'id': 2628104, 'name': 'Kevin BETTE ', 'hours': 10.5}, {'id': 2786566, 'name': 'Massimo OLIVO ', 'hours': 6.466666666666667}]

In [4]:
# sums the hours worked for a shop
# input: [{'hours': 10.5, 'name': 'Kevin BETTE ', 'id': 2628104}, {'hours': 6.466666666666667, 'name': 'Massimo OLIVO ', 'id': 2786566}]

def sum_hours_worked_for_a_shop_and_day(warehouse_id, yyyy_mm_dd):
    hours_worked = get_hours_worked_for_a_shop_for_a_day(warehouse_id, yyyy_mm_dd)
    if hours_worked is None:
        return 0
    else:
        return sum([h['hours'] for h in hours_worked])

In [5]:
# example
sum_hours_worked_for_a_shop_and_day(core.get_shop_id('Wemmel'), "2023-03-15")

config.ini file available... using that
200

14.55

In [6]:
# returns a list of days in format yyyy-mm-dd for a given month
# input: 2023-03
def get_days_in_month(yyyy_mm):
    # Split the input string into year and month
    year, month = map(int, yyyy_mm.split('-'))

    # Get the number of days in the given month and year
    num_days = calendar.monthrange(year, month)[1]

    # Generate a list of days in the given month and year
    days = [date(year, month, day).strftime("%Y-%m-%d") for day in range(1, num_days + 1)]

    return days

# returns the list of strings (format YYYY-MM-DD) in a period (start and end dates included)
# start and end are in format YYYY-MM-DD
def get_days_in_period(start,end):
    start = date.fromisoformat(start)
    end = date.fromisoformat(end)
    delta = end - start
    dates = [start + pd.DateOffset(days=i) for i in range(delta.days + 1)]
    return [d.strftime("%Y-%m-%d") for d in dates]

#example
get_days_in_period("2023-03-01", "2023-03-15")

['2023-03-01',
 '2023-03-02',
 '2023-03-03',
 '2023-03-04',
 '2023-03-05',
 '2023-03-06',
 '2023-03-07',
 '2023-03-08',
 '2023-03-09',
 '2023-03-10',
 '2023-03-11',
 '2023-03-12',
 '2023-03-13',
 '2023-03-14',
 '2023-03-15']

In [7]:
# Example usage:
month = "2023-02"
days_in_month = get_days_in_month(month)
print(days_in_month)

['2023-02-01', '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05', '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25', '2023-02-26', '2023-02-27', '2023-02-28']

In [8]:
# returns the total hours worked for a shop in a given month
# input: 2023-03
def get_hours_worked_for_a_shop_in_a_month(warehouse_id, yyyy_mm):
    hours_worked = get_hours_worked_for_a_shop_for_a_month_per_employee(warehouse_id, yyyy_mm)
    if hours_worked is None:
        return 0
    return sum([e['hours'] for e in hours_worked])

def get_hours_worked_for_a_shop_in_a_period(warehouse_id, start, end):
    days_to_consider = get_days_in_period(start, end)
    hours_worked = [get_hours_worked_for_a_shop_for_a_day(warehouse_id, day) for day in days_to_consider]
    return sum([e['hours'] for e in hours_worked])

In [9]:
# example
hours_worked_in_la_hulpe = get_hours_worked_for_a_shop_in_a_month(core.get_shop_id('La Hulpe'), "2023-02")
print(hours_worked_in_la_hulpe)

config.ini file available... using that
200
485.9000000000001

In [10]:
la_hulpe = core.get_sales_for_period_for_shop_per_day("2023-02-01", "2023-02-28", "La Hulpe")

config.ini file available... using that

In [11]:
# sum the total sales for a shop
la_hulpe.sum()['total_sales']

/var/folders/3s/8thx9yjd15l2g2jfkpzcxpzw0000gn/T/ipykernel_5780/1374674745.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  la_hulpe.sum()['total_sales']

66249.88284

In [84]:
core.get_shop_names()

config.ini file available... using that

['La Hulpe',
 'Fort Jaco',
 'Woluwe',
 'Tongres',
 'Wemmel',
 'CHATELAIN',
 'OVERIJSE',
 'LATEM']

In [85]:
foodcosts = core.get_food_costs_for_period_for_shop_per_day("2023-02-01", "2023-02-28", "La Hulpe")

config.ini file available... using that
config.ini file available... using that

In [86]:
foodcosts.index = foodcosts['date']
foodcosts = foodcosts.drop('date', axis=1)

In [87]:
foodcosts

            atelier supplier    total
date
2023-02-01   521.51   363.44   884.95
2023-02-02  1019.11   289.97  1309.08
2023-02-03  1244.03   567.64  1811.67
2023-02-04  1514.06        0  1514.06
2023-02-05  1810.74        0  1810.74
2023-02-06  1034.98   306.07  1341.05
2023-02-07  1167.42   216.49  1383.91
2023-02-08   603.62   414.54  1018.16
2023-02-09  1894.81   303.90  2198.71
2023-02-10  1057.54   334.20  1391.74
2023-02-11   814.10        0   814.10
2023-02-12  2209.62        0  2209.62
2023-02-13   321.12   975.70  1296.82
2023-02-14  2011.11   323.37  2334.48
2023-02-15   630.69   115.03   745.72
2023-02-16  1332.40   127.52  1459.92
2023-02-17  1313.14   383.03  1696.17
2023-02-18   637.55        0   637.55
2023-02-19  2131.71   100.61  2232.32
2023-02-20   292.98   291.83   584.81
2023-02-21  2560.01   411.74  2971.75
2023-02-22  1048.51   127.56  1176.07
2023-02-23  1593.92   476.99  2070.91
2023-02-24  1129.05   279.36  1408.41
2023-02-25   837.11        0   837.11
2023-02-26  2181.23        0  2181.23
2023-02-27   842.36   380.00  1222.36
2023-02-28  1291.01        0  1291.01

In [88]:
foodcosts.sum()

atelier     35045.44
supplier     6788.99
total       41834.43
dtype: float64

In [73]:

FULLY_LOADED_COST_HOURS = 30 

# month: 2023-02
# returns the start and end day for a given month (format YYYY-MM-DD)
def get_start_and_end_day_for_month(month):
    days_in_month = get_days_in_month(month)
    return days_in_month[0], days_in_month[-1]

def get_gross_margin_for_month(month, shop_name):
    start_date, end_date = get_start_and_end_day_for_month(month)
    foodcosts = core.get_food_costs_for_period_for_shop_per_day(start_date, end_date, shop_name)
    foodcosts.index = foodcosts['date']
    foodcosts = foodcosts.drop('date', axis=1)
    sales = core.get_sales_for_period_for_shop_per_day(start_date, end_date, shop_name)
    total_hours = get_hours_worked_for_a_shop_in_a_month(core.get_shop_id(shop_name), month)
    gross_margin = sales.sum()['total_sales'] - foodcosts.sum()['total'] - FULLY_LOADED_COST_HOURS * total_hours
    return {
        "gross_margin": gross_margin,
        "total_hours": total_hours,
        "total_sales": sales.sum()['total_sales'],
        "total_foodcosts": foodcosts.sum()['total'],
        "total_foodcosts_atelier": foodcosts.sum()['atelier'],
        "total_foodcosts_supplier": foodcosts.sum()['supplier'],
    }

In [89]:
get_gross_margin_for_month("2023-02","Wemmel")

config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200

{'gross_margin': 11988.725779999999,
 'total_hours': 492.80000000000007,
 'total_sales': 63413.04578,
 'total_foodcosts': 36640.32,
 'total_foodcosts_atelier': 30272.61,
 'total_foodcosts_supplier': 6367.71}

In [90]:
shop_names = core.get_shop_names()
shop_stats = {}
for shop_name in shop_names:
    gross_margin = get_gross_margin_for_month("2023-02", shop_name)
    print('shop ' + shop_name + ' gross margins:')
    print(gross_margin)
    shop_stats[shop_name] = gross_margin

config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
shop La Hulpe gross margins:
{'gross_margin': 9838.452840000002, 'total_hours': 485.9000000000001, 'total_sales': 66249.88284, 'total_foodcosts': 41834.43, 'total_foodcosts_atelier': 35045.44, 'total_foodcosts_supplier': 6788.99}
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
shop Fort Jaco gross margins:
{'gross_margin': 17723.038160000007, 'total_hours': 682.7833333333334, 'total_sales': 93298.64816000001, 'total_foodcosts': 55092.11, 'total_foodcosts_atelier': 45062.28, 'total_foodcosts_supplier': 10029.83}
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
shop Woluwe gross margins:
{'gross_margin': 31943.659859999992, 'total_hours': 895.1333333333333, 'total_sales': 122830.83986, 'total_foodcosts': 64033.18, 'total_foodcosts_atelier': 54410.09, 'total_foodcosts_supplier': 9623.09}
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
500
shop Tongres gross margins:
{'gross_margin': 238.70504000000074, 'total_hours': 0, 'total_sales': 86848.05504, 'total_foodcosts': 86609.35, 'total_foodcosts_atelier': 84294.87, 'total_foodcosts_supplier': 2314.48}
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
shop Wemmel gross margins:
{'gross_margin': 11988.725779999999, 'total_hours': 492.80000000000007, 'total_sales': 63413.04578, 'total_foodcosts': 36640.32, 'total_foodcosts_atelier': 30272.61, 'total_foodcosts_supplier': 6367.71}
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
shop CHATELAIN gross margins:
{'gross_margin': 27820.0835, 'total_hours': 724.2, 'total_sales': 104944.5935, 'total_foodcosts': 55398.51, 'total_foodcosts_atelier': 45822.49, 'total_foodcosts_supplier': 9576.02}
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
shop OVERIJSE gross margins:
{'gross_margin': -4840.650419999998, 'total_hours': 656.2, 'total_sales': 54266.58958, 'total_foodcosts': 39421.24, 'total_foodcosts_atelier': 32689.35, 'total_foodcosts_supplier': 6731.89}
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
shop LATEM gross margins:
{'gross_margin': 4909.245800000001, 'total_hours': 695.1333333333334, 'total_sales': 71673.5558, 'total_foodcosts': 45910.31, 'total_foodcosts_atelier': 37727.61, 'total_foodcosts_supplier': 8182.7}

In [91]:
df = pd.DataFrame.from_dict(shop_stats, orient='index').round(2)
display(df)

,gross_margin,total_hours,total_sales,total_foodcosts,total_foodcosts_atelier,total_foodcosts_supplier
La Hulpe,9838.45,485.90,66249.88,41834.43,35045.44,6788.99
Fort Jaco,17723.04,682.78,93298.65,55092.11,45062.28,10029.83
Woluwe,31943.66,895.13,122830.84,64033.18,54410.09,9623.09
Tongres,238.71,0.00,86848.06,86609.35,84294.87,2314.48
Wemmel,11988.73,492.80,63413.05,36640.32,30272.61,6367.71
CHATELAIN,27820.08,724.20,104944.59,55398.51,45822.49,9576.02
OVERIJSE,-4840.65,656.20,54266.59,39421.24,32689.35,6731.89
LATEM,4909.25,695.13,71673.56,45910.31,37727.61,8182.70

In [92]:
# recalculate gross margin based on 30 EUR per hour instead of 25 EUR just using df
df['gross_margin'] = df['total_sales'] - df['total_foodcosts'] - df['total_hours'] * 30

In [93]:
df['gross_margin_pct'] = (df['gross_margin'] / df['total_sales'] * 100).round(0)

In [118]:
df_pct = df.copy()
df_pct['gross_margin_pct'] = (df['gross_margin'] / df['total_sales'] * 100).round(0)
# create a dataframe with the gross margin percentage, % of foodcosts atelier and % of foodcosts supplier
df_pct['foodcosts_atelier_pct'] = (df_pct['total_foodcosts_atelier'] / df_pct['total_sales'] * 100).round(0)
df_pct['foodcosts_supplier_pct'] = (df_pct['total_foodcosts_supplier'] / df_pct['total_sales'] * 100).round(0)
df_pct['wage_cost_pct'] = (df_pct['total_hours'] * FULLY_LOADED_COST_HOURS / df_pct['total_sales'] * 100).round(0)

df_pct = df_pct[['gross_margin_pct', 'foodcosts_atelier_pct', 'foodcosts_supplier_pct', 'wage_cost_pct']]
# remove Tongres as it is a franchisee
df_pct = df_pct.drop('Tongres')
# sort by gross margin percentage
df_pct = df_pct.sort_values(by=['gross_margin_pct'], ascending=False)
# show all columns except gross_margin_pct and wage_cost_pct

display(df_pct[['foodcosts_atelier_pct', 'foodcosts_supplier_pct']])

           foodcosts_atelier_pct  foodcosts_supplier_pct
CHATELAIN                   44.0                     9.0
Woluwe                      44.0                     8.0
Fort Jaco                   48.0                    11.0
Wemmel                      48.0                    10.0
La Hulpe                    53.0                    10.0
LATEM                       53.0                    11.0
OVERIJSE                    60.0                    12.0

In [117]:
# create markdown table
print(df_pct.to_markdown())

|           |   gross_margin_pct |   foodcosts_atelier_pct |   foodcosts_supplier_pct |   wage_cost_pct |
|:----------|-------------------:|------------------------:|-------------------------:|----------------:|
| CHATELAIN |                 27 |                      44 |                        9 |              21 |
| Woluwe    |                 26 |                      44 |                        8 |              22 |
| Fort Jaco |                 19 |                      48 |                       11 |              22 |
| Wemmel    |                 19 |                      48 |                       10 |              23 |
| La Hulpe  |                 15 |                      53 |                       10 |              22 |
| LATEM     |                  7 |                      53 |                       11 |              29 |
| OVERIJSE  |                 -9 |                      60 |                       12 |              36 |

In [116]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [23]:
get_gross_margin_for_month("2023-02-01", "2023-02-28", 'PAVLOVA BAR ANVERS')

config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
config.ini file available... using that
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

{'gross_margin': -3866.1100000000006,
 'total_hours': 301.8,
 'total_sales': 8256.74,
 'total_foodcosts': 3068.85}

In [27]:
pavlova = {'gross_margin': -2357.1100000000006,
 'total_hours': 301.8,
 'total_sales': 8256.74,
 'total_foodcosts': 3068.85}

config.ini file available... using that